{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{path('app_category_show', {'id': category.id}) }}">{{ category.label }}</a></li>
        {% endfor %}
{% endblock %}
