{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
  <h1>Ajouter une catégorie</h1>

  {{ form_start(form)}}
    {{ form_row(form.label) }}
    <button type="submit">Valider le formulaire</button>
  {{ form_end(form)}}
{% endblock %}